{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %} 
<div class="container marketing my-5">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="/media/media/cpp.jpg" class="d-block w-100" alt="...">
        <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
        
        <h2>Owner</h2>
        <p>Chirag Ratvekar (Chinmay Prince) <br> Jalgaon, Maharashtra</p>
        <p><a class="btn btn-secondary" href="https://www.instagram.com/chinmay_prince_77/">Follow us on Insta&raquo;</a></p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/chirag-ratvekar-74965219a/">Follow us on Linkdin&raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <img src="/media/media/roc.jpg" class="d-block w-100" alt="...">
        <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        -->
        <h2>Owner</h2>
        <p><b>Rupesh Gaikwad</b><br>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    
      <div class="col-lg-4">
        <img src="/media/media/aj.jpg" class="d-block w-100" alt="...">
        <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        -->
        <h2>Owner</h2>
        <p><b>Aaditya Joshi</b><br>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->



{% endblock body %}

