{% extends 'base.html' %}
{% block title%}home-{{use.user}}{% endblock %}
  {% block body %}
 <h1>sand merchantiser</h1>

{% if user.is_authenticated%}
<a href="{% url 'logout' %}">Logout</a> <br>
<h1>{{me.username}}</h1>
<h2>{{me.first_name}}</h2>


 <section>
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header text-black">
                  <h2>order</h2>
                </div>
                <div class="card-body">
                    <form action="{% url 'order' %}" method="POST" enctype="multipart/form-data" novalidate>
                      {% csrf_token %}
                         {% for field in form.visible_fields %}
                           <div class="form-group">
                               {{ field.label_tag }}
                                  {% render_field field class="form-control" %}
                                    {% for error in field.errors %}
                                      <span style="color:red">{{ error }}</span>
                                    {% endfor %}
                         {% endfor %}
                             <input type="submit" value="Register" class="btn btn-block btn-primary">
                           </div>
                    </form>
                 </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </section>






{% else %}
<a href="{% url 'register' %}">Register</a> <br>
<a href="{% url 'login' %}">Login</a>
{% endif %}


{% endblock %}
